.innerform {
    -fx-background-radius: 5px;
}

.basicscene {
    -fx-background-color: linear-gradient(to right, rgba(110, 243, 255, 0.4), rgba(255, 56, 87, 0.38));

}

.inputfield {
    -fx-font-size: 19px;
}